.slider-first-section {
    margin-bottom: 1rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

.header-slider-txt {
    font-family: IranYekanBold;
    font-weight: 700;
    font-size:24px;
    line-height: 34px;
    margin-inline-start: 1.5rem;
    margin-bottom: -.6rem;
    color: var(--main-text);
   
}
.orange-bottom{
    border-bottom:4px solid var(--main-orange);
}
.off-bottom{
    border-bottom: 4px solid var(--off-color);

}

@media screen and (max-width:768px) {
    .header-slider-txt{
        margin-bottom: -.26rem;
    }
}
@media screen and (max-width:576px) {
    .header-slider-txt{
        font-size: 1.2rem;
        margin-bottom: -.22rem;
    }
}