.circle-offer-parent {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   border: 8px solid var(--white-color);
   background: var(--off-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px;
   position: absolute;
   right: 0%;
   bottom: -18%;
   font-weight: 700;
   font-size: 70px;
   color: var(--white-color);
}

@media screen and (max-width:1200px){
   .circle-offer-parent {
      width: 100px;
      height: 100px;
      font-weight: 700;
      font-size: 35px;
      border:4px solid var(--white-color);
      bottom: -10%;     
   }
}
@media screen and (max-width:992px){
   .circle-offer-parent {
      width: 85px;
      height: 85px;
      font-weight: 700;
      font-size: 25px;
      border:4px solid var(--white-color);
      bottom: -7%;     
   }
}

@media screen and (max-width:768px){
   .circle-offer-parent {
      width: 100px;
      height: 100px;
      font-weight: 700;
      font-size: 35px;
      border:4px solid var(--white-color);
      bottom: unset;
      top: -10%; 
   }
}
@media screen and (max-width:420px){
   .circle-offer-parent {
      width: 85px;
      height: 85px;
      font-weight: 700;
      font-size: 25px;
      border:4px solid var(--white-color);
      bottom: unset;
      top: -10%;
   }
}

@media screen and (max-width:350px) {
   .circle-offer-parent {
      width: 85px;
      height: 85px;
      font-weight: 700;
      font-size: 25px;
      border:4px solid var(--white-color);
      bottom: unset;
      top: -10%;
   }
}