.small-blog-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.small-blog-btn-text{
    color:var(--placeholder-text);
    font-size: 12px;
    margin-bottom: .5rem;
}
.row{
    display: flex;
    flex-direction: row;
}