.custom-btn{
    color:#ffffff;
    padding:.5rem 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: 14px;
}

.purple{
    background-color:var(--main-purple);
}

.gray{
    background-color: var(--input-bg);
}

