.blog-side-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--web-main-shadow);
    margin-bottom: 1rem;
}

.blog-card-text {
    font-size: .8rem;
    color: var(--placeholder-text);
}

.column {
    display: flex;
    flex-direction: column;
}

.blog-rating-parent {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--second-text);
}