.swiper .swiper-wrapper .nearshop-swiper .swiper-slide {
   width: 200px !important;
   height: 120px !important;
   transition: .4s;
}

.width-slides {
   max-width: 150px !important;

   max-height: 130px !important;
}

.nearshop-swiper {
   padding: 40px;
   border-radius: 20px;
   margin-top: 3rem;
}


.purple-bottom {
   border-bottom: 4px solid var(--main-purple);
}

.padding-bottom {
   padding-bottom: .5rem;
}
