/* .Product_nav_parent {
   display: flex;
   justify-content: space-between;
   align-items: center;
} */

.BreadCrumpStyle {
   border-bottom: none;
   margin-bottom: 0;
   padding: 8px 8px;
   background: #EEF0F3;
   border-radius: 20px;
   width: 13rem;
}

.breadcrumb-container_custom_style {
   width: 70%;
}
@media screen and (max-width:576px){
   .breadcrumb-container_custom_style {
      width: 100%;
   }
}