.slider-parent-section-offer-book {
   width: 100%;
   height: 100%;
}


.slider-parent-section-offer-book .carousel-control-next-icon {
   background-image: url(../../assets/Images/icon/arrow-square-right.png) !important;
}

.slider-parent-section-offer-book .carousel-control-prev-icon {
   background-image: url(../../assets/Images/icon/arrow-square-left.png);
}

.slider-parent-section-offer-book .carousel-control-prev,
.slider-parent-section-offer-book .carousel-control-next {
   width: 2rem;
   height: 2rem;
   top: unset;
   border-radius: 8px;
   background-color: white;
   opacity: 1 !important;
   padding: 10;
   bottom: 26%;
}

.slider-parent-section-offer-book .carousel-control-next {
   left: 17%;
   right: unset;
}

.slider-parent-section-offer-book .carousel-control-prev {
   left: 2%;
   right: unset;
}

.slider-parent-section-offer-book .carousel-indicators {
   left: .5%;
   bottom: 23%;
   right: unset;
   margin-left: 5% !important;
   background-color: var(--white-color);
   opacity: 1;
   border-radius: 13px;
   box-shadow: 0px 1px 32px rgba(0, 0, 0, 0.16);
   padding: .15rem .5rem;
}

.slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
   width: 10px;
   height: 10px;
   background-color: var(--second-text);
   border-radius: 50%;
   margin-left: 5px;
   margin-right: 5px;
}

.slider-parent-section-offer-book .carousel-indicators .active {
   background-color: var(--green-color);
}

.slider-parent-section-offer-book .carousel-item {
   border-radius: 20px;
   height: 100%;
}

.slider-parent-section-offer-book .carousel-item img {
   height: 100%;
}

.slider-parent-section-offer-book .carousel-inner {
   border-radius: 15px;
   height: 100%;
}

.offer-container {
   height: 35rem;
}

@media screen and (max-width: 1399px) and (min-width: 1200px) {
   .container_section_heroslider {
      padding-left: 0;
      padding-right: 0;
   }

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 4%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 28%;
      left: 1%;
      padding: .01rem .25rem;
      right: unset;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
      padding: 1px;
      bottom: 30%;
   }

   .slider_parent_section {
      height: 125%;
   }



   .slider-parent-section-offer-book .carousel-control-next {
      left: 17.5%;
   }
   .slider-parent-section-offer-book .carousel-control-prev{
      left: 2%;
   }

}

@media screen and (max-width:1200px) {

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      bottom: 8%;
   }

   .slider-parent-section-offer-book .carousel-control-next {
      left: 22%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 4%;
      left: 2%;
      padding: .01rem .25rem;
      right: unset;
   }
   
.offer-container {
   height: 20rem;
}
}

@media screen and (max-width:992px) {
   .container_section_heroslider {
      padding-left: 0;
      padding-right: 0;
   }

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 4%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 29%;
      left: 6%;
      padding: .01rem .25rem;
      right: unset;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
      bottom:32%;
      padding: 1px;
   }

   .slider-parent-section-offer-book {
      height: 125%;
   }

   .slider-parent-section-offer-book .carousel-control-next {
      left: 30%;
   }

}

@media screen and (max-width:768px) {
   .container_section_heroslider {
      padding-left: 0;
      padding-right: 0;
   }

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 4%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 28%;
      left: 5%;
      padding: .01rem .25rem;
      right: unset;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
      padding: 1px;
      bottom: 31%;
   }

   .slider-parent-section-offer-book {
      height: 125%;
   }



   .slider-parent-section-offer-book .carousel-control-next {
      left: 28%;
   }

}

@media screen and (max-width:436px) {

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 4%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 3%;
      left: 10%;
      padding: .01rem .25rem;
      right: unset;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
      padding: 1px;
      bottom: 6%;
   }

   .slider-parent-section-offer-book {
      height: 125%;
   }



   .slider-parent-section-offer-book .carousel-control-next {
      left: 48%;
   }
}

@media screen and (max-width:395px) {

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 4%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 2.5%;
      left: 10%;
      padding: .01rem .25rem;
      right: unset;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      margin-right: 5px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
      padding: 1px;
      bottom: 6%;
   }

   .slider-parent-section-offer-book {
      height: 125%;
   }



   .slider-parent-section-offer-book .carousel-control-next {
      left: 50%;
   }
}

@media screen and (max-width:365px) {

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 2%;
   }

   .slider-parent-section-offer-book .carousel-control-next {
      left: 45%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 2%;
      left: 10%;
      right: unset;
      padding: .1rem .25rem;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 3px;
      margin-right: 3px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
      bottom: 5%;
   }
}

@media screen and (max-width:325px) {

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 5%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom:1%;
      left: 15% !important;
      padding: .1rem .5rem;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 3px;
      margin-right: 3px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-next {
      left: 57%;
   }
}

@media screen and (max-width:295px) {

   .slider-parent-section-offer-book .carousel-control-prev-icon,
   .slider-parent-section-offer-book .carousel-control-next-icon {
      width: 2rem;
      height: 2rem;

   }

   .slider-parent-section-offer-book .carousel-control-prev {
      left: 5%;
   }

   .slider-parent-section-offer-book .carousel-indicators {
      bottom: 1%;
      left: 15% !important;
      padding: .1rem .5rem;
   }

   .slider-parent-section-offer-book .carousel-indicators [data-bs-target] {
      width: 8px;
      height: 8px;
      margin-left: 3px;
      margin-right: 3px;
   }

   .slider-parent-section-offer-book .carousel-control-prev,
   .slider-parent-section-offer-book .carousel-control-next {
      width: 2rem;
      height: 2rem;
   }

   .slider-parent-section-offer-book .carousel-control-next {
      left: 62%;
   }

}