.most-sale-swiper .swiper-wrapper .swiper-slide {
    width: 240px !important;
    transition: .4s;
}

.most-sale-swiper .swiper-wrapper .swiper-slide:first-child {
    width: 400px !important;
}

.most-sale-swiper {
    background-color: #ffffff;
    border-radius: 20px;
}

.most-sale-swiper .swiper-wrapper {
    padding: 24px !important;
}

.first-slider-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


@media screen and (min-width:992px) {
    .first-slider-label {
        margin-bottom: -.02rem;
    }
}

@media screen and (max-width:768px) {
    .first-slider-label {
        display: none;
    }
}

@media screen and (max-width:500px) {
    .most-sale-swiper .swiper-wrapper .swiper-slide:first-child,
    .most-sale-swiper .swiper-wrapper .swiper-slide {
        width: auto !important;
    }
  
}

