.header{
   margin-top: 10rem;
}

@media screen and (max-width:1200px) {
 .herosuggest_book{
      margin-top: 3.5rem;
   }  
}


@media screen and (max-width:768px) {
   .heroslider_grid{
      padding: 0 .25rem;
   }
 .herosuggest_book{
      margin-top: 4rem;
   }  
   .header{
      margin-top: 8rem;
   }
   
}
@media screen and (max-width:295px) {
   .header{
      margin-top: 7rem;
   }
   .slider_parent_section{
      height: 140%;
   }
   .herosuggest_book {
      margin-top: 4.5rem;
   }
}

 