.search-tabs {
    margin-bottom: 2rem;
    background-color: var(--input-bg);
    padding: 1rem 0;
    padding-right: .3rem;
    border-radius: 15px;
    width: 100%;
    height: 76px;
    display: flex;
    align-items: center;
}

.search-tabs .nav-item .nav-link {
    padding: .5rem;
    border: 0;
    margin-inline-end: 1rem;
    color:var(--main-text);
    font-size: .9rem;
    font-weight: 700;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    box-shadow: var(--store-shadow);
    border-radius: 8px;
}

.search-tabs {
    border-bottom: 0;
}

@media screen and (max-width:1200px) {
    .search-tabs .nav-item .nav-link {
        font-size: .8rem;
        margin-inline-end: 0;
    }

}

@media screen and (max-width:992px) {
    .search-tabs .nav-item .nav-link {
        font-size: .5rem;
        padding: .4rem;
    }
}