.btn-img {
    width: 28px;
    height: 28px;
    margin-inline-end: 10px;

}

.black {
    color: #000000;
}

.btn-title {
    font-size: 14px;
}

@media screen and (max-width:1200px) {
    .btn-title{
        font-size:12px;
    }
    .btn-img{
        width:25px;
        height:25px;
    }
}