.swiper .swiper-wrapper .nearshop-swiper .swiper-slide {
  width: 200px !important;
  height: 120px !important;
  transition: 0.4s;
}

.nearshop-swiper {
  padding: 24px;
  border-radius: 20px;
  margin-top: 3rem;
}
.nearshop-swiper .swiper-wrapper {
  width: 100% !important;
}

.purple-bottom {
  border-bottom: 4px solid var(--main-purple);
}

.padding-bottom {
  padding-bottom: 0.5rem;
}
